@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

a:active {
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-links, .right-links {
  padding: 0px;
  margin-top: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footer {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
  margin-top: auto;
  padding: 20px 20px 0px 20px;
}
